[submodule "ext/realurl"]
	path = ext/realurl
	url = git://git.typo3.org/TYPO3v4/Extensions/realurl.git
[submodule "ext/dd_googlesitemap"]
	path = ext/dd_googlesitemap
	url = git://github.com/dmitryd/typo3_dd_googlesitemap.git
