<div id="header">
    
    <f:cObject typoscriptObjectPath="lib.general.header_slogan">
        <div id="headerTop">
                <h2 class="imageText">Öffentlich bestellte und vereidigte Sachverständige</h2>
                <div id="nameTitleMessageBox">
                <h1>
                        <span class="personName">Michael Hinterheller</span>
                        <span class="personTitle">Öffentlich bestellter und vereidigter Sachverständiger</span>
                </h1>
                <h3>Willkommen auf meinem Internetangebot</h3>
                </div>
        </div> 
    </f:cObject>	
        

        <div class="w1069">
            
            <f:cObject typoscriptObjectPath="lib.general.header_start">
               <div id="headerMiddle">
                        <div>
                                <span><strong>Michael Hinterheller</strong></span><br>
                                <p>Von der Industrie- und Handelskammer Niederbayern in Passau öffentlich bestellter und vereidigter Sachverständiger für Schäden an Gebäuden</p>
                                <p>
                                        Sandbach-Eben 8 - 94474 Vilshofen<br>
                                        Telefon: 08548 1225<br>
                                        Telefax: 08548 1314
                                </p>
                                <p>
                                        <a class="mailLink" href="mailto:info@sv-hinterheller.de">info@sv-hinterheller.de</a><br />
                                        <a class="webLink" href="http://www.sv-hinterheller.de">www.sv-hinterheller.de</a>
                                </p>
                        </div>
                </div>
            </f:cObject>
                

                <div id="headerBottom">
                    <f:cObject typoscriptObjectPath="lib.navigation.small">
                        <ul class="hMenu">
                                <li><a href="#">Startseite</a></li>
                                <li><a href="#">Impressum</a></li>
                        </ul>
                    </f:cObject>
                        
                </div>

        </div>

</div>